@import "tailwindcss";
/*@import "tailwindcss/base";*/
/*@import "tailwindcss/components";*/
/*@import "tailwindcss/utilities";*/

@font-face {
  font-family: "Chomsky";
  src: url('/assets/fonts/Chomsky.otf') format('opentype');
}

.chomsky {
  font-family: 'Chomsky', sans-serif;
}

@source "./cmd/web/templates/**/*.html";
@source "./cmd/web/templates/**/*.templ";


@layer theme, base, components, utilities;

@layer theme {
  :root {
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'IBM Plex Serif', serif;
    --font-mono: 'IBM Plex Mono', monospace;
    --font-display: 'Poppins', sans-serif;
    --font-chomsky: 'Chomsky', sans-serif;


    /* ... */
  }
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }

  /* ... */
}

@layer utilities {
  .pointer-events-none {
    pointer-events: none;
  }

  .visibility-hidden {
    visibility: hidden;
  }

  /* ... */

  .focus\:outline:focus {
    outline-width: 1px;
  }

  @media (width >=40rem) {
    @media (hover: hover) {
      .sm\:hover\:opacity-100:hover {
        opacity: 100%;
      }
    }
  }
}


/* Add these styles for markdown content */
.prose h1 {
  @apply text-3xl font-bold mb-4 mt-6;
}

.prose h2 {
  @apply text-2xl font-bold mb-3 mt-5;
}

.prose h3 {
  @apply text-xl font-bold mb-2 mt-4;
}

.prose p {
  @apply mb-4;
}

.prose ul,
.prose ol {
  @apply mb-4 pl-5;
  list-style-type: decimal;
}

.prose li {
  @apply mb-2;
  list-style-type: disc;
}

.prose code {
  @apply bg-stone-200 rounded px-1 py-0.5 font-mono text-sm;
}

.prose pre {
  @apply bg-stone-200 rounded p-4 mb-4 overflow-x-auto;
}

.prose pre code {
  @apply bg-transparent p-0;
}

.prose blockquote {
  @apply border-l-4 border-stone-400 pl-4 italic my-4;
}
